:root {
    --gray: #212121;
    --green: #009660;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lgray:#929292;
}



@font-face {
    font-family: chacha;
    src: url(./);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}



body {
    background-color: var(--black);
}
.green{
    color: var(--green);
}
.lgray{
    color: var(--lgray);
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px 70px;


}

.nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: red;
    width: 300px;
}

.nav-2 {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 60px;
}

.nav-2 h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 100px;
}

.nav-1 img {
    height: 45px;
}

.nav-2 h5 {
    font-size: 20px;


    display: none;
}

.nav-3 {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-3 h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 100px;
}

.nav-3 h5 {
    font-size: 20px;
    display: none;
}

main {
    padding-top: 100px;

}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: 'Times New Roman', Times, serif;
}

.section1 .left {

    width: 42%;
}

.section1 .left h1 {
    font-size: 45px;
}

.section1 .left .tags{
 display: flex;
 align-items: center;
 gap: 5px 5px;
 flex-wrap: wrap;
 margin: 30px 0;
}


.left .price{
    font-size: 35px;
}
.left .price .lgray{
    font-size: 20px;
    font-weight: 800;
}

.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;


    background-color: var(--gray);
}

.section1 .left .cta{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.cta button{
    background-color: var(--green);
    padding: 20px 50px;

    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.cta button:nth-child(2){
    background-color: var(--gray);
}




.section1 .right .right-in{
   
    width: 700px;
    border-radius: 5px;
    overflow: hidden;
}
.section1 .right .right-in .image{
width: 100%;
}
.section1 .right .right-in .image img{
    width: 100%;
}
.section1 .right .right-in  .image-bottom{
padding: 20px;
background-color: var(--gray);
padding-top: 40px;
display: flex;
gap: 10px;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
.right-in  .image-bottom h4{
background-color: #151515;
padding: 10px 15px;
border-radius: 5px;
width: 45%;
}